<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  
  .jumbotron{
    margin-bottom: 0px;
  }
  
</style>
<body>
  {% include "exam/navbar.html" %}
<br>
<section style="background-image: url({% static 'image/home.png' %}); background-repeat: no-repeat;background-attachment: fixed;background-position: center; " id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h2 class="display-3 text-info">Entrance Examination</h2>
    <p class="display-4 d-none d-sm-block" >Attend your examinations!</p>
    <p class="lead" style="color: white;">Sign Up now to start your Entrance Examination</p>

  
    <p><strong style="color: white;"> Start Your Journey Here:</strong></p>
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sign Up as Candidate</a>
    
    <br><br><br>
  </div>  
</section>
  {% include "exam/footer.html" %}


</body>

</html>
