<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  
  </head>
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br><br><br><br><br><br>
<br><br><br><br><br>
    <div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                
                   
							
                    <div class="text-center">
                        A mail has been sent to you,<br>Follow the instructions to reset your password.
                    </div>
                    
                
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br>
<br>><br><br><br><br><br><br><br>
<br><br><br><br><br>
{% include "exam/footer.html" %}
  </body>
</html>
