<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    
  </head>
  <body>
    {% include "exam/navbar.html" %}
    <br><br><br>
    <div class="container" style="justify-content: center;align-items: center;">
        <h3>Password Reset</h3>
        <form method="post">
            {% csrf_token %}
                    
                    
                        <p>{{ form.as_p }}</p>
                    
                    <button class="btn btn-primary" type="submit">Reset</button>
        </form>
</div>
<br><br><br><br><br><br><br>
{% include "exam/footer.html" %}
  </body>
</html>
